{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>super super blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css" rel="stylesheet">

{#    <!-- Font-Awesome -->#}
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="theme-styles">

    <!-- pageing styles-->
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}"/>

    <!-- JS file-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"></script>
    <script src="https://cdn.bootcss.com/marked/0.3.6/marked.js"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>

</head>
<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="/" id="logo">
                    <img src="{% static 'img/logo.png' %}" alt="clean Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">

                             <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="/">主页</a>
                    {% block subheader %}
                    {% endblock %}
                </div>

                <div class="clean-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">

                        <input class="searchfield" id="searchbox" type="text" placeholder="Search">
                         <button class="searchbutton" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="widewrapper main">
        <div class="container">
            <div class="row clearfix">
                <div id="row_left" class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>

                <div id="row_right">
                </div>
            </div>
        </div>
    </div>

</body>
</html>