{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock %}

{% block paging %}
<div id="Pageing">
        <div>
            <a href="{% url 'post_list' current_page=1 %}">首页</a>
            {% if pre_page %}
                <a href="{% url 'post_list' current_page=pre_page %}">上一页</a>
            {% else %}
                <a href='#' class='invalid' />上一页</a>
            {% endif %}
            
            {% for item in page_list %}
                {%  ifnotequal item current_page%}
                    <a href="{% url 'post_list' current_page=item %}">{{ item }}</a>
                {% else %}
                    <a class='selected' href="{% url 'post_list' current_page=item %}">{{ item }}</a>
                {% endifnotequal %}
            {% endfor %}
            
            {% if nex_page %}
                <a href="{% url 'post_list' current_page=nex_page %}">下一页</a>
            {% else %}
                <a href='#' class='invalid' />下一页</a>
            {% endif %}
            <a href="{% url 'post_list' current_page=last_page %}">尾页</a>
        <select id='s1' onchange='ChangePageItem(this);'>
            <option value='3'>3</option>
            <option value='5'>5</option>
            <option value='7'>7</option>
        </select>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type='text/javascript'>
        $(function(){
            var per_item = $.cookie('pager_num');
            if(per_item){
                $('#s1').val(per_item);
            }else{
                $.cookie('pager_num', 3, {path:'/'})
            }
        })
        
        function ChangePageItem(arg){
            //创建或者修改cookies的值
            var value = $(arg).val();
            $.cookie('pager_num', value, {path:'/'})
        }
    </script>
{% endblock %}

